<!--
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="{{ current_lang }}">

<head>
    {% include 'common/header.html' %}
</head>

<body id="page-top">
    {% include 'common/horizontal_menu_bar.html' %}


<div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content" style="margin-top: 20px;">
            <div class="container-fluid">

                {% include 'common/flashed_messages.html' %}

                <div class="col-md-12">
                    <nav>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-bs-target="#nav-add"
                                   data-bs-toggle="tab" role="tab" aria-controls="nav-home" aria-selected="true">{{ _("Create a group") }}</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-bs-target="#nav-delete"
                                   data-bs-toggle="tab" role="tab" aria-controls="nav-delete" aria-selected="false">{{ _("Delete a group") }}</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-bs-target="#nav-check"
                                   data-bs-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">{{ _("Check group membership") }}</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-bs-target="#nav-update"
                                   data-bs-toggle="tab" role="tab" aria-controls="nav-contact" aria-selected="false">{{ _("Change group membership") }}</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-add" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <br>
                                <div class="card shadow mb-4">
                                    <div class="card-body">
                                        <h3>{{ _("Create a new group") }}</h3>

                                        <form action="/admin/create_group" method="post">
                                            <div class="form-group">
                                                <input id="group_name" placeholder="{{ _("Group name") }}" class="form-control"
                                                       type="text" required name="group_name">
                                            </div>
                                            {{ _("Members:") }} <br>
                                            <input type="text" id="members" class="form-control soca-tagsearch" name="members"
                                                   data-ub-tag-variant="primary"
                                                   data-endpoint="/api/ldap/users"
                                                   placeholder="{{ _('Type 2+ characters to search and add users (optional)') }}">
                                            <br>
                                            <div>
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <button type="submit" class="btn btn-primary">{{ _("Create Group") }}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-delete" role="tabpanel"
                                 aria-labelledby="nav-profile-tab">
                                <br>
                                <div class="card shadow mb-4">
                                    <div class="card-body">
                                        <h3>{{ _("Delete Group") }}</h3>

                                        <div class="alert alert-primary" role="alert">
                                            <strong>{{ _("Important") }} </strong>
                                            {{ _("Deleting group may cause access issue. Make sure your group is no longer in use before deleting it") }}
                                        </div>

                                        <form action="/admin/delete_group" method="post">
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control soca-typeahead" autocomplete="off"
                                                       data-endpoint="/api/ldap/groups" data-results="del_group_results"
                                                       data-sink="del_group_hidden" data-value-field="group"
                                                       data-label-field="group" data-require="true"
                                                       placeholder="{{ _('Type 2+ characters to search groups') }}">
                                                <input type="hidden" id="del_group_hidden" name="group_to_delete">
                                                <div id="del_group_results" class="list-group soca-th-results"></div>
                                            </div>
                                            <div class="form-group form-check">
                                                <input type="checkbox" class="form-check-input" name="verif" id="verif"
                                                       required>
                                                <label class="form-check-label" for="verif">{{ _("I am sure I want to delete this group") }}</label>
                                            </div>
                                            <div>
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <button type="submit" class="btn btn-danger">{{ _("Delete group") }}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-check" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <br>
                                <div class="card shadow mb-4">
                                    <div class="card-body">
                                        <h3>{{ _("Check group membership") }}</h3>
                                        <form action="/admin/check_group" method="post">
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control soca-typeahead" autocomplete="off"
                                                       data-endpoint="/api/ldap/groups" data-results="chk_group_results"
                                                       data-sink="chk_group_hidden" data-value-field="group"
                                                       data-label-field="group" data-require="true"
                                                       placeholder="{{ _('Type 2+ characters to search groups') }}">
                                                <input type="hidden" id="chk_group_hidden" name="group">
                                                <div id="chk_group_results" class="list-group soca-th-results"></div>
                                            </div>
                                            <div>
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                                <button type="submit" class="btn btn-primary">{{ _("Check group") }}
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade" id="nav-update" role="tabpanel" aria-labelledby="nav-home-tab">
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-body">
                                                <h3>{{ _("Add to group") }}</h3>
                                                <form action="/admin/manage_group" method="post">
                                                    <div class="form-group position-relative">
                                                        {{ _("Select user:") }}
                                                        <input type="text" class="form-control soca-typeahead" autocomplete="off"
                                                               data-endpoint="/api/ldap/users" data-results="addg_user_results"
                                                               data-sink="addg_user_hidden" data-value-field="username"
                                                               data-label-field="display_name" data-require="true"
                                                               placeholder="{{ _('Type 2+ characters to search users') }}">
                                                        <input type="hidden" id="addg_user_hidden" name="user">
                                                        <div id="addg_user_results" class="list-group soca-th-results"></div>
                                                    </div>
                                                    <div class="form-group position-relative">
                                                        {{ _("Select group:") }}
                                                        <input type="text" class="form-control soca-typeahead" autocomplete="off"
                                                               data-endpoint="/api/ldap/groups" data-results="addg_group_results"
                                                               data-sink="addg_group_hidden" data-value-field="group"
                                                               data-label-field="group" data-require="true"
                                                               placeholder="{{ _('Type 2+ characters to search groups') }}">
                                                        <input type="hidden" id="addg_group_hidden" name="group">
                                                        <div id="addg_group_results" class="list-group soca-th-results"></div>
                                                    </div>
                                                    <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               name="admin_verif" id="admin_reset_verif" required>
                                                        <label class="form-check-label" for="admin_verif">{{ _("I am sure I want to") }} <strong>{{ _("ADD") }}</strong> {{ _("this user to the group") }}</label>
                                                    </div>
                                                    <div>
                                                        <input type="hidden" name="action" value="add">
                                                        <input type="hidden" name="csrf_token"
                                                               value="{{ csrf_token() }}">

                                                        <button type="submit" class="btn btn-success">{{ _("Add user") }}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="card shadow mb-4">
                                            <div class="card-body">
                                                <h3>{{ _("Remove from group") }}</h3>
                                                <form action="/admin/manage_group" method="post">
                                                    <div class="form-group position-relative">
                                                        {{ _("Select user:") }}
                                                        <input type="text" class="form-control soca-typeahead" autocomplete="off"
                                                               data-endpoint="/api/ldap/users" data-results="rmg_user_results"
                                                               data-sink="rmg_user_hidden" data-value-field="username"
                                                               data-label-field="display_name" data-require="true"
                                                               placeholder="{{ _('Type 2+ characters to search users') }}">
                                                        <input type="hidden" id="rmg_user_hidden" name="user">
                                                        <div id="rmg_user_results" class="list-group soca-th-results"></div>
                                                    </div>
                                                    <div class="form-group position-relative">
                                                        {{ _("Select group:") }}
                                                        <input type="text" class="form-control soca-typeahead" autocomplete="off"
                                                               data-endpoint="/api/ldap/groups" data-results="rmg_group_results"
                                                               data-sink="rmg_group_hidden" data-value-field="group"
                                                               data-label-field="group" data-require="true"
                                                               placeholder="{{ _('Type 2+ characters to search groups') }}">
                                                        <input type="hidden" id="rmg_group_hidden" name="group">
                                                        <div id="rmg_group_results" class="list-group soca-th-results"></div>
                                                    </div>

                                                    <div class="form-group form-check">
                                                        <input type="checkbox" class="form-check-input"
                                                               name="sudo_revoke_verif" id="sudo_revoke_verif" required>
                                                        <label class="form-check-label" for="sudo_revoke_verif">{{ _("I am sure I want to") }} <strong>{{ _("REMOVE") }}</strong> {{ _("this user from the group") }}</label>
                                                    </div>
                                                    <div>
                                                        <input type="hidden" name="action" value="remove">
                                                        <input type="hidden" name="csrf_token"
                                                               value="{{ csrf_token() }}">

                                                        <button type="submit" class="btn btn-danger">{{ _("Remove user") }}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <a class="scroll-to-top rounded" href="#page-top">
                            <i class="fas fa-angle-up"></i>
                        </a>


                        {% include 'common/footer.html' %}
                        <script src="/static/js/soca_typeahead.js"></script>

                    </nav>
                </div>
</body>

</html>
