# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

# Begin: Optimize GPU settings

function gpu_instance_optimize_gpu_clock_speed_nvidia () {
  # https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/optimize_gpu.html
  # This command can take several minutes to start, which is why it's not enabled by default on compute_node.sh.j2
  INSTANCE_FAMILY=$(instance_family)
  log_info "gpu_instance_optimize_gpu_clock_speed_nvidia for ${INSTANCE_FAMILY}.. "
  nvidia-persistenced

  local NVIDIA_SMI_ARGS="-ac "

  # [G3 only] Disable autoboost before setting clocks
  if [[ "${INSTANCE_FAMILY}" == "g3" ]]; then
    nvidia-smi --auto-boost-default=0
  fi

  case "${INSTANCE_FAMILY}" in
     g3) NVIDIA_SMI_ARGS+="2505,1177" ;;
     g4dn) NVIDIA_SMI_ARGS+="5001,1590" ;;
     g5) NVIDIA_SMI_ARGS+="6250,1710" ;;
     g6|g6f|gr6|gr6f) NVIDIA_SMI_ARGS+="6251,2040" ;;
     g6e) NVIDIA_SMI_ARGS+="9001,2520" ;;
     g7e) NVIDIA_SMI_ARGS+="12481,2430" ;;
     p2) NVIDIA_SMI_ARGS+="2505,875" ;;
     p3|p3dn) NVIDIA_SMI_ARGS+="877,1530" ;;
     p4d) NVIDIA_SMI_ARGS+="1215,1410" ;;
     p4de) NVIDIA_SMI_ARGS+="1593,1410" ;;
     p5) NVIDIA_SMI_ARGS+="2619,1980" ;;
     p5e|p5en) NVIDIA_SMI_ARGS+="3201,1980" ;;
     p6-b200) NVIDIA_SMI_ARGS+="3996,1965" ;;
     p6-b300) NVIDIA_SMI_ARGS+="3996,2032" ;;
     *) log_warning "Unknown instance family for optimizations - ${INSTANCE_FAMILY} . May not run at maximum performance" ; return ;;
  esac

  log_info "Using tuning settings: nvidia-smi ${NVIDIA_SMI_ARGS} for ${INSTANCE_FAMILY}"
  nvidia-smi ${NVIDIA_SMI_ARGS}
  log_info "GPU Optimization complete"
}
gpu_instance_optimize_gpu_clock_speed_nvidia
