<!--
# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0
-->

<!DOCTYPE html>
<html lang="{{ current_lang }}">

<head>
    {% include 'common/header.html' %}
</head>
<body id="page-top">
    {% include 'common/horizontal_menu_bar.html' %}
<div id="wrapper">
    {% include 'common/vertical_menu_bar.html' %}
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content" style="margin-top: 20px;">
            <div class="container-fluid">
                
                {% include 'common/flashed_messages.html' %}

                <div class="col-md-12">
                    <div class="card shadow mb-4">
                  
                        <div class="card-body">
                            <h3>{{ _("List all active Virtual Desktops") }}</h3>
                            <table id="allVirtualDesktopSessions" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>{{ _("Owner") }}</th>
                                        <th>{{ _("Session Name") }}</th>
                                        <th>{{ _("Status") }}</th>
                                        <th>{{ _("Operating System") }}</th>
                                        <th>{{ _("Instance Type") }}</th>
                                        <th>{{ _("Host") }}</th>
                                        <th>{{ _("AMI ID") }}</th>
                                        <th>{{ _("Software Stack") }}</th>
                                        <th>{{ _("VDI Profile") }}</th>
                                        <th>{{ _("Created On") }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for session_uuid, session_info in virtual_desktops.items() %}
                                 <tr>
                                    <td>{{session_info.session_owner}}</td>
                                    <td>{{session_info.session_name}}</td>
                                    <td> {% if session_info.session_state == "stopped" %}
                                        <span class="badge rounded-pill bg-warning" style="color: black">{{ _("stopped") }}</span>
                                        {% elif session_info.session_state == "stopping" %}
                                        <span class="badge rounded-pill bg-warning" style="color: black">{{ _("stopping") }}</span>
                                        {% elif session_info.session_state == "pending" %}
                                        <span class="badge rounded-pill bg-primary" style="color: white">{{ _("pending") }}</span>
                                        {% elif session_info.session_state == "running" %}
                                        <span class="badge rounded-pill bg-success" style="color: white">{{ _("running") }}</span>
                                        {% elif session_info.session_state == "error" %}
                                        <span class="badge rounded-pill bg-danger" style="color: white">{{ _("error") }}</span>
                                        {%else %}
                                        <span class="badge rounded-pill bg-secondary">{{session_info.session_state}}</span>
                                        {% endif %}
                                    </td>
                                     <td>{{session_info.instance_base_os}}</td>
                                      <td>{{session_info.instance_type}}</td>
                                      <td>{{session_info.instance_private_ip}}</td>
                                      <td>{{session_info.ami_id }}</td>
                                      <td>{{session_info.software_stack }}</td>
                                      <td>{{session_info.vdi_profile }}</td>
                                      <td>{{session_info.created_on}}</td>
                                 </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                            <script>
                                document.addEventListener("DOMContentLoaded", function() {
                                    new DataTable("#allVirtualDesktopSessions");
                                });
                            </script>

                        </div>
                    </div>


                    <a class="scroll-to-top rounded" href="#page-top">
                        <i class="fas fa-angle-up"></i>
                    </a>

                {% include 'common/footer.html' %}

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
